* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

/* .body_container {
  display: flex;
  flex-direction: column;
} */

.topnav {
  display: block;
  width: 100vw;
  height: 9vh;
  background-color: #fff;
  margin-bottom: 2%;
  border: 1px solid #dbdbdb;
}

.icons {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  justify-content: center;
  
}

.news_feed {
  width: 48vw;
  height: 83.5vh;
  display: flex;
  justify-content: center;
  margin-right: 1%;
}

.feed_card {
  background-color: #fff;
  width: 54vw;
  height: 17vh;
  border-radius: 6px;
  border-width: 2px;
  display: flex;
  border: 1px solid #dbdbdb;
}

.sidenav {
  display: flex;
  width: 20vw;
  height: 83.5vh;
  background-color: #fff;
}